version: "3.9"
services:
  angular:
    build: ./qwiz-frontend
    networks:
      - frontend
    ports:
      - "4200:4200"
  spring:
    image: "qwizspring:latest"
    volumes:
    - ./.temp/uploads:/uploads
    - ./.temp/outputs:/outputs
    - ./.temp/logs:/logs
    depends_on:
      - mongodb
    networks:
      - frontend
      - backend
    environment:
      - "SPRING_PROFILES_ACTIVE=docker"
    env_file:
      - "./qwiz-backend/.env"
    ports:
      - "8080:8080"
    links:
      - "mongo:mongohost"
  mongodb:
    image: mongo
    networks:
      - backend

#volumes:
#  files:

networks:
  backend:
  frontend: